*{
    /*makes the background color flush against the edges of the page removing the white gap*/
    margin: 0;
    padding: 0;
    /*without adjusting the "box-sizing" the <div> text in footer will continue off-screen*/
    box-sizing: border-box;
}
body{
    font-family: Helvetica, Arial, sans-serif;
    color: #39a6b2;
}
header{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #39a6b2;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    /*changing the display from the default setting to "inline" cleared room for the <nav> text go from under the the box to in it*/
    display: inline;
}

header a{
    /*setting text-decoration to none removes the underline, strikethrough or overline from the <a> in <header>*/
    text-decoration: none;
    color: #fce138;
}

header nav{
    /*float dictates where on the page the text will be positioned*/
    float: right;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 0;
    margin-right: 0;
}

header nav ul li{
    display: inline;
}

header nav ul li a{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: lighter;
    font-size: 22px;
}

/*Hero Style Start*/
.hero{
    background-image: url("../images/hero-bg.jpg");
    height: 800px;
    /*"background-size" and "background position are used to negate the clipping issue on the background image"*/
    background-size: cover;
    background-position: center;
}
.hero-form{
    color: #024e76;
    background-color: #fce138;
    padding: 20px;
    width: 500px;
    border-style: solid;
    border-width: 3px;
    border-color: #024e76;

}
/*Hero Style End*/

section{
    padding: 60px;
}

footer{
    background: #fce138;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 35px;
    padding-right: 35px;
}

footer h2{
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

footer div{
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a{
    color: #024e76;
}